<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>120</batches>
  <inactive>40</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="cylindrical" origin="0.0 0.0 0.0">
      <r type="uniform" parameters="0.0 0.375"/>
      <phi type="uniform" parameters="0.0 6.283185307179586"/>
      <z type="uniform" parameters="-125.0 125.0"/>
    </space>
  </source>
  <temperature_method>interpolation</temperature_method>
  <temperature_multipole>true</temperature_multipole>
</settings>
