<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>100000</particles>
  <batches>120</batches>
  <inactive>20</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="cylindrical" origin="0.0 0.0 0.0">
      <r type="uniform" parameters="0.0 0.409575"/>
      <phi type="uniform" parameters="0.0 6.283185307179586"/>
      <z type="uniform" parameters="-213.36 213.36"/>
    </space>
  </source>
  <temperature_method>interpolation</temperature_method>
</settings>
